.title{
    padding-top: 50px;
    display: block;
    width: 100%;
    height: 800px;
    margin: auto;
}    
.title span{
    
    display: block;
    font: 14px "微软雅黑";
    width: 360px;
    height: 20px;
    margin: auto;
    line-height: 20px;
    margin-bottom: 50px;
}